.card {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  .name {
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
  }
  .stars {
    margin-left: auto;
  }
}

.back-btn {
  margin-top: 20px;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contributors {
  margin-bottom: 20px;
}